.cartItemHeader
    display none
    ff(normal,1.8,1.8)
    color fontGreys
    margin-bottom 35px
    sf()
    @media phone
        display block
    @media tablet
        display block
.cartItemHeaderName
    column(5/9)
    padding-bottom 15px
    border-bottom 4px solid borderGreys
.cartItemHeaderQty
    column(2/9)
    padding-bottom 15px
    border-bottom 4px solid borderGreys
.cartItemHeaderPrice
    column(2/9)
    padding-bottom 15px
    border-bottom 4px solid borderGreys
.cartItems
    display block
    width 100%
    padding 40px 20px 0px
    sf()
    margin-bottom 35px
.cartItem
    display table
    margin-bottom 35px
    width 100%
    sf()
    &:last-child
        margin-bottom 0px
        padding-bottom 30px
        border-bottom 4px solid borderGreys
.cartItemName
    display table-cell
    width 100%
.cartItemImage
    display table-cell
    width 80px
    vertical-align top
    padding-right 20px
    img
        width 60px
        height 60px
    @media phone
        display none
    @media tablet
        display none
.cartItemImageDesktop
    display none
    width 80px
    vertical-align top
    padding-right 20px
    img
        width 60px
        height 60px
    @media phone
        display table-cell
    @media tablet
        display table-cell
.cartItemNameHeader
    column(1/1)
    ff(bold,1.8)
    margin-bottom 20px
    @media phone
        column(5/9)
    @media tablet
        column(5/9)
.cartItemNameHeaderText
    display block
    @media phone
        display table-cell
        width 100%
    @media tablet
        display table-cell
        width 100%
.cartItemQty
    column(1/2)
    @media phone
        column(2/9)
    @media tablet
        column(2/9)
.cartItemPrice
    column(1/2)
    padding-left 20px
    @media phone
        column(2/9)
    @media tablet
        column(2/9)
.cartItemFullPrice
    display block
    ff(bold,1.8,2.2)
    color blacks
    i
        padding-left 4px
        ff(rubl,1.6,1.8)
.cartItemSalePrice
    display block
    ff(normal,1.8)
    color reds
    i
        padding-left 4px
        ff(rubl,1.6,1.8)
    b
        padding-left 8px
.cartSummary
    display block
    padding 0px 20px
    margin-bottom 35px
    sf()
.cartSummaryItem
    display block
    margin-bottom 35px
    sf()
    &:last-child
        border-bottom 4px solid borderGreys
        margin-bottom 0px
        padding-bottom 35px
.cartSummaryItemName
    ff(normal,1.6,2.2)
    column(2/3)
.cartSummaryItemInput
    column(1/3)
    input
        width 100%
.cartSummaryItemPrice
    column(1/3)
    ff(bold,1.8,2.2)
    color blacks
    i
        padding-left 4px
        ff(rubl,1.6,2.2)

.cartTotal
    display block
    padding 0px 20px
    sf()
    margin-bottom 35px
.cartTotalItem
    display block
    margin-bottom 35px
    sf()
.cartTotalItemName
    ff(bold,1.8,2.2)
    column(2/3)
.cartTotalItemPrice
    column(1/3)
    ff(bold,1.8,2.2)
    color blacks
    i
        padding-left 4px
        ff(rubl,1.6,2.2)