// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div 
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)
  
+font(rouble, rouble-webfont)  
=ruble
	font-family: "rouble"
	text-transform: lowercase
+font(fontello, fontello)  
=fontello
	font-family: "fontello"

+font(proximanova-reg, proximanova-reg)  
=pr
	font-family: "proximanova-reg", Arial, sans-serif 

+font(proximanova-bold, proximanova-bold)  
=pb
	font-family: "proximanova-bold", Arial, sans-serif 

+font(proximanova-light, proximanova-light)  
=pl
	font-family: "proximanova-light", Arial, sans-serif  

$white: #fff
$black: #000
$grey: #353535
$blue: #0078ff

input
	-webkit-appearance: none

body
	position: relative
	font-size: 18px
	line-height: 1.4
	min-width: 320px
	+pr
	&.is-hidden
		overflow: hidden
	.loader
		position: absolute
		top: 50%
		left: 50%
		margin: -92px 0 0 -130px
		display: inline-block


// common blocks 

//out
.out
	a
		text-decoration: none
		&:hover
			text-decoration: underline
	&.is-loading
		position: relative
		opacity: 0
//wrapper
.wrapper
	margin: 0 auto
	padding: 0 20px
	width: 1110px
	+box
.container
	+r(768)
		padding: 0 20px 
//header
.header
	position: relative
	height: 80px
	background: #353535
	+clr
	.container
		position: relative
		+box
		+clr
	.header__logo
		position: relative
		float: left
		top: 23px
		left: -2px
		z-index: 3
		+svg(logo, 150, 86)
	.header__phone
		color: $white
	.header__mail
		color: $blue
	.menu
		float: right
		margin-right: -18px
	.header__info
		float: left
		padding: 18px 0 0
		width: 21%
		line-height: 1.2
		text-align: right
		.header__text
			display: inline-block
			text-align: left
	.header-btn_menu
		right: 0
		i
			+svg(menu, 34, 34)
	.header-btn_basket
		right: 80px
		i
			+svg(basket, 34, 36) 
	.header-btn
		position: absolute
		top: 0
		height: 80px
		width: 84px
		line-height: 80px
		text-align: center
		vertical-align: top
		display: none
		background: none
		i
			vertical-align: middle
			display: inline-block
		&:hover,
		&.is-active
			background: #363636
	.col-md-8
		position: static
//menu
.menu
	height: 80px
	font-size: 0
	.menu__item
		vertical-align: middle
		display: inline-block
		+box
		&:hover
			a
				color: $white
				text-decoration: none
				background: #333
			.menu__drop
				display: block
		&:first-child
			margin-left: 0
		a
			padding: 0 18px
			height: 80px
			line-height: 80px
			color: $white
			font-size: 20px
			display: block 
			+transition(0.2s)
			+pb
			+r(1200)
				padding: 0 10px 
				font-size: 18px
	.menu__drop
		position: absolute
		left: -15px
		right: -15px
		top: 100%
		margin-top: -6px
		z-index: 2 
		.drop__col
			a
				height: auto
				line-height: 1.4 
				&:hover
					text-decoration: underline


//menumob
.menumob
	position: absolute
	top: 100%
	left: 0
	right: 0
	padding: 40px 15px 60px
	z-index: 2
	background: #363636
	display: none
	+clr
	.menumob__title
		margin: 20px 0
		color: $white
		font-size: 24px
		display: block
		+pb
	ul
		padding-left: 10px
		li
			margin: 8px 0
		a
			color: #a1a1a1
			font-size: 18px
	.col-xs-12
		padding-left: 0
//ruble
.ruble
	display: inline-block
	font-style: normal
	font-weight: normal
	&:before
		content: "a"
		+ruble

//cred
.cred
	display: inline
	+pr
 
//drop
.drop
	padding: 25px 60px 60px
	text-align: right
	font-size: 0
	background: #333
	display: none
	.drop__col
		width: 18%
		text-align: left
		font-size: 13px
		vertical-align: top
		display: inline-block
		.drop__title_disc
			padding-right: 0
			display: inline-block
		.discount
			font-size: 20px
			+pb
	.drop__list
		padding-right: 10px
		+box
		.drop__item
			margin-top: 10px
			height: auto
			a
				color: #b2b2b2
				font-size: 16px
				+pr
	.drop__title
		margin-top: 35px
		font-size: 20px

//breadcrumbs
.breadcrumbs
	padding: 53px 0 35px
	li
		float: left
		display: block
		a
			color: $blue
			font-size: 16px
			display: inline-block
		span
			padding: 0 5px
			color: $blue

//btn
.btn
	position: relative
	padding: 0 33px 0 24px
	height: 50px
	color: $white
	line-height: 50px
	font-size: 18px
	+border-radius(0 !important)
	+box-shadow(inset 0 -4px 0 rgba(#000, 0.2))
	+transition(background .2s) 
	+pb
	&.btn_blue
		background: #00aeff
		&:hover
			background: #0077ff
	&.btn_green
		background: #00d700
		&:hover
			background: #00b900
	&:active
		+box-shadow(inset 0 4px 0 rgba(#000, 0.2))
	&:disabled
		+opacity(.4)
	&:focus
		outline: none !important 
.btn-top
	display: inline-block
	+svg(pic-scr-top, 22, 14)

//link
.link
	padding-left: 40px
	a
		margin-right: 20px
		color: $blue
		+pb

//product
.product
	margin-bottom: 60px
	+clr
	.slider
		position: relative
		margin: 0 0 26px
		width: 100%
		+box
		overflow: hidden
	.slick-slider
		margin-bottom: 0 
		border: 3px solid #e5e5e5
	.slick-slide
		background: none
		img
			width: 100%
			height: auto
			display: block
	.slick-dots
		display: none
	.slick-next, .slick-prev
		position: absolute
		top: 50%
		margin-top: -17px
		&:hover
			+opacity(.9)
		&:before
			display: none
	.slick-prev
		left: -3px
		+svg(slick-prev, 34, 34)
	.slick-next
		right: -3px
		+svg(slick-next, 34, 34)
	.product__right
		padding-left: 30px
		+box
	.product__title
		margin: 0
		font-size: 36px
		color: $black
		letter-spacing: -0.1px
		+pb
	.availability
		position: relative
		margin: 40px 0
		padding-left: 42px
		color: #666666
		.availability__ico
			position: absolute
			top: -3px
			left: 0
			height: 28px
			width: 28px
			background: #00d700
			+border-radius(50%)
			display: block
			&:before
				position: absolute
				content: ''
				top: 50%
				left: 50%
				margin: -6px 0 0 -9px
				+svg(arr3,18,13)


//characteristics
.characteristics
	margin: 40px 0
	.characteristics__row
		margin-bottom: 10px 
		height: 50px
		line-height: 50px
	.characteristics__name
		// min-width: 88px
		font-size: 18px
		color: #656565
	.characteristics__name, .select
		vertical-align: top
		display: inline-block
	// .select
	// // 	width: 100%
	// 	max-width: 330px

//select
.select
	position: relative
	width: 100% !important
	height: 50px !important
	line-height: 50px !important
	white-space: nowrap
	border: none !important
	background: #f2f2f2 !important
	//+box-shadow(inset 0 -5px 0 #d9d9d9 !important)
	text-overflow: ellipsis
	&:focus
		outline: none !important
	.caret
		content: ""
		position: absolute
		right: 20px !important
		top: 50% !important
		margin-top: -3px !important
		width: 0px
		height: 0px
		border-style: solid
		border-width: 10px 6px 0 6px
		border-color: #000 transparent transparent transparent
	.dropdown-toggle
		padding: 0 15px !important
		width: 100%
		color: $black
		font-size: 18px
		text-align: left
		background: none
		+pr
	.btn, .dropdown-toggle, .selectpicker.btn-info
		border: none !important
		-webkit-box-shadow: inset 0 -4px 0 #d8d8d8 
		box-shadow: inset 0 -4px 0 #d8d8d8 
		&:focus
			border: none !important
			outline: none !important
	span, a
		outline: none !important
		color: $black !important
		font-size: 18px
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info
	top: 0
	border: none !important
	outline: none !important
	background: none !important
	+box-shadow(inset 0 -4px 0 #d9d9d9 !important)


//select-2
.select-2
	position: relative
	cursor: pointer
	font-size: 12px
	&.select-2_mod
		display: none
		li
			&.active,
			&:hover
				background: #717791
	&.is-active
		.select__text
			+box-shadow(none)
			&:after
				+rotate(180)
		.select__list
			display: block
	.select_white
		background: #fff 
	.select__text
		position: relative
		padding: 0 15px
		height: 50px
		line-height: 50px
		white-space: nowrap
		font-size: 16px
		border: none
		background: #f2f2f2
		+box-shadow(inset 0 -5px 0 #d9d9d9)
		text-overflow: ellipsis
		display: block
		text-decoration: none
		color: #000 
		span
			color: #656565   
		&:after
			content: ""
			position: absolute
			right: 20px !important
			top: 50% !important
			margin-top: -3px !important
			width: 0px
			height: 0px
			border-style: solid
			+tr(transform .4s)
			border-width: 10px 6px 0 6px
			border-color: #000 transparent transparent transparent
		&:hover
			text-decoration: none
	.select__list
		position: absolute
		left: 0
		right: 0
		top: 100%
		padding: 0 0 7px
		z-index: 100
		
		background: #f2f2f2
		border-bottom: 5px solid #d9d9d9
		display: none
		+box
		
		li
			margin-bottom: 8px
			cursor: pointer
			line-height: 1
			+clr
			&.active,
			&:hover
				a
					background: none !important
					text-decoration: none
					color: $white !important
					+box-shadow(none)
			a
				padding: 5px 11px  !important
				line-height: 1
				font-size: 16px
				text-align: center
				display: block
			.checkbox
				margin: 0 !important
		&.select__list_white
			max-height: 235px
			overflow: auto
			li
				margin: 0 8px
				padding-bottom: 8px
				background: $white
				// &:first-child
				// 	padding-top: 13px
				// 	+box-shadow(inset 0 5px 0 #d9d9d9)
//buy
.buy
	.buy__row
		margin-bottom: 20px
	.buy__text
		margin-left: 30px
		font-size: 36px
		display: inline-block
		+pb
		span, del
			+pr
	.btn
		padding: 0
		height: 60px
		width: 150px
		text-align: center
		font-size: 26px

//soc
.soc
	font-size: 0
	text-align: center
	li
		margin-right: 34px
		height: 40px
		line-height: 40px
		display: inline-block
	.soc__ico
		position: relative
		vertical-align: middle
		display: inline-block
		+transition(all 0.1s linear)
		&:hover 
			+opacity(.8)
	.soc__ico_vk
		+svg(vk, 23, 29)
	.soc__ico_fb
		+svg(fb, 16, 33)
	.soc__ico_ins
		+svg(ins, 31, 31)
	.soc__ico_g
		+svg(g, 35, 32)
	.soc__ico_mail
		+svg(mail, 33, 28)

.title
	font-size: 42px
	+pb
//field
.field
	&.field_grey
		background: #f2f2f2
	.field__top_grey
		padding: 60px 0 0
		background: #f2f2f2
		.title
			margin-bottom: 40px
	.field__top
		margin: 60px 0 40px
	.btn-top
		margin-top: 23px
	.field__row
		margin-top: 40px

.article
	margin-bottom: 60px
	+clr
	.media-body
		font-size: 18px
		p
			margin-top: 8px
	.media-heading
		font-size: 16px
		color: $blue 
		+pb
	img
		margin: 0 20px 20px 0
	.date
		padding-left: 6px
		font-size: 16px
		line-height: 1

	.media
		.pull-left
			margin-right: 0
//tabbable
.tabbable
	.nav-tabs
		border-bottom: none
	li
		a
			padding: 18px !important
			color: $blue
			font-size: 18px !important
			border: none !important
			border-radius: 0 !important
			+transition(all 0.2s linear)
			+pb
		&:hover,
		&.active
			a
				color: $black !important
				background: $white !important
				+box-shadow(inset 0 4px 0 #e5e5e5)
	.nav__text2
		display: none
	.tab-content
		.article
			margin-top: 40px

//date
.date
	color: #999999
	line-height: 1
	vertical-align: top
	display: inline-block

.reviews-form
	margin-top: 40px
.reviewsform__title
	margin-bottom: 10px
	color: #222222
	line-height: 1
	font-size: 16px
	+pb
.reviewsform__area
	height: 94px !important
	color: #222222 !important
	font-size: 18px !important
	border: 2px solid #bfbfbf !important
	border-radius: 0 !important
	resize: none
	&:focus
		border-color: #0078ff !important
		+placeholder
			font-size: 0
.reviewsform__row
	margin-top: 30px
.reviewsform__link
	height: 50px
	line-height: 50px
.reviewsform__all
	color: $blue
	+pb
.reviewsform__quantity
	color: #999999
.reviewsform__all, .reviewsform__quantity
	font-size: 18px 
	line-height: 1
	vertical-align: middle
	display: inline-block
.col-60
	width: 60px
	height: 60px
	margin-right: 28px

//characteristic
.characteristic
	.media-heading
		margin-top: -2px
		color: $black
		font-size: 20px
		+pb
	.media__ico
		margin-right: 20px !important
		display: inline-block
		&.media__ico_1
			+svg(char_ico2, 60, 60)
		&.media__ico_2
			+svg(char_ico1, 60, 60)
//photo
.photo
	.photo__img
		margin-bottom: 30px
		img
			width: 100%
			display: block
	.photo__row
		margin-top: 10px

//brand
.brand
	.brand__img
		padding-bottom: 35px
		text-align: center
		img
			display: inline-block

//nav
.navbar
	width: 270px
	.navbar__item
		height: 60px
		line-height: 60px
		list-style-type: none
		+transition(0.1s)
	a
		padding: 0 30px
		color: $blue
		font-size: 26px
		display: block
		+box
		+pb
		&.is-active,
		&:hover
			color: $white
			text-decoration: none
			background: $black
	&.is-fixed
		position: fixed
		top: 20px

//kate
.kate
	margin-bottom: 55px
	display: block
	+pb
	.kate__img
		position: relative
		padding: 2px 
		height: 33.3%
		margin-bottom: 20px
		font-size: 18px
		overflow: hidden
		box-shadow: inset 0 0 0 2px #e5e5e5 
		display: block
		+clr
		+vertical
		img
			display: inline-block
			vertical-align: middle
			width: 100%
			height: auto 
	.kate__text, .kate__name
		color: $blue 
		display: block
	.kate__name, 
	.kate__prise
		font-size: 26px 
	.rate__prise-old 
		padding-left: 12px
		color: #7F7F7F
		text-decoration: line-through
		+pr
	.kate__prise
		span
			+pr
	.kate__prise-red
		font-size: 24px
		color: #ff3333
		+pr 
.kate__info 
	position: absolute
	top: -10px
	right: -58px 
	width: 156px
	height: 63px
	line-height: 77px
	font-size: 28px
	text-align: center
	color: $white
	text-transform: uppercase
	background: #00d700
	z-index: 1
	+rotate(45)
	+pb
	&.kate__info_red
		background: #ff0000

//discount
.discount
	padding-left: 5px
	color: #ee4023

//pay
.pay
	position: relative
	padding-top: 20px
	+clr
	&.pay_top
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 7px
			background: #cce4ff
			display: none !important
		.pay__info
			position: absolute 
			top: 0
			right: 0
			width: 80px
			height: 80px
			line-height: 80px
			z-index: 1
			border-bottom: 5px solid #aec9e8
			background: #cce4ff
			display: none !important
			+box
			i
				vertical-align: middle
				display: inline-block
				+svg(pay-info, 40, 40)
			&.is-active
				background: #cce4ff
				&:before
					display: block !important
	&.pay_top-warning
		.is-top
			top: 255px
	.pay__row
		margin-bottom: 40px
		+clr
		&.pay__row_mod
			margin-bottom: 25px
		&.pay__border_block
			display: none
	.pay__col
		height: 40px
		line-height: 40px
	// .pay__left
	// 	padding-right: 30px
	.pay__border
		border-bottom: 4px solid #e5e5e5
	.pay__titletop
		height: 44px
		font-size: 18px
		line-height: 1.1
		line-height: 33px
		vertical-align: top
	.pay__title
		font-size: 24px
		+pb
	.pay__text 
		padding: 20px 0 0 40px
		font-weight: 400
		+pr
		a
			margin-right: 20px
			color: $blue
			+pb
	.discount
		padding-left: 0
	.title
		margin-top: 32px
		padding-bottom: 9px
	.media
		img
			margin-right: 20px
	.media-heading
		margin-top: -4px
		line-height: 1.2
		font-size: 24px
		color: $black
		+pb
	.pay__input
		font-size: 0
	.input_28
		margin-left: 8%
		display: inline-block
		&:first-child
			margin-left: 0
	.pay__warning
		margin-bottom: 20px
	&.pay_grey
		background: #f2f2f2
	&.pay_form
		font-size: 16px
		.input__row
			margin-bottom: 17px
//warning
.warning
	position: relative
	padding: 10px 15px
	color: $white
	background: #ff7518
	+box
	p
		margin: 0
	a
		color: $white
		text-decoration: underline
		+pb
		&:hover
			color: $white
			text-decoration: none
	.warning__btn
		position: absolute
		top: 15px
		right: 15px
		background: none 
		opacity: 0.5
		+tr(opacity .2s)
		+svg(close-img, 14, 13)
		&:hover
			opacity: 1

//help
.help
	position: absolute !important
	top: 143px
	right: 0
	bottom: 0
	padding: 10px 30px 30px !important
	background: #cce4ff 
	.help__title
		+pb
	.help__list
		counter-reset: list
		li
			position: relative
			margin-top: 20px
			padding: 7px 0 0 33px
			&:before
				counter-increment: list
				content: counter(list)
				position: absolute
				top: 0
				left: 0
				color: $black
				font-size: 42px
				+pb
			&:first-letter
				text-transform: uppercase
	.help__bold
		color: $black
		+pb
	.help__ico-f
		margin-right: 3px
		vertical-align: middle
		display: inline-block
		+s(f-ico)
	.help__row
		text-align: center
	
//price
.price
	font-size: 24px
	+pb
	del
		+pr
	&.price_big
		font-size: 34px

//setting
.setting
	position: relative
	background: #f2f2f2
	border-bottom: 4px solid #d9d9d9
	.setting__btn
		position: absolute
		top: 18px
		right: 20px
		width: 9px
		height: 13px
		background: none
		+arr(9, 13, $black, r)
	.setting__item
		padding: 12px 20px 12px 12px
		cursor: pointer
		display: none
	.setting__top
		padding: 0 12px
		height: 46px
		line-height: 46px
		cursor: pointer
	.setting__row
		margin-top: 15px
		font-size: 0
		+clr
		&:first-child
			margin-top: 0
	.setting__title
		width: 40%
		color: #656565
		&:first-letter
			text-transform: uppercase
	.setting__title, .setting__text
		font-size: 16px
		vertical-align: top
		display: inline-block
	.setting__text
		padding-right: 10px
		width: 60%
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
//order
.order
	padding-top: 40px
	.order__title
		margin: 30px 0 40px
		font-size: 36px
		+pb
		&.order__title_bot,
		&.order__title_mod
			padding: 0 50px 0 0
			display: inline-block
	.order__title_2
		font-size: 24px
		+pb
		&.order__title_mob
			display: none
	.order__item_mar
		margin-bottom: 35px
		+clr
		.col-md-4
			padding-left: 0
		.order__text
			padding-top: 47px
		.order__text_name,
		.order__text_date
			padding-top: 15px
	.order__item
		.btn_mod
			width: 100%
	.order__btn
		width: 178px
		vertical-align: super
		.btn__ico
			vertical-align: middle
			+svg(settings-pic, 22, 22)
			display: none
	.order__checkbox
		margin-bottom: 17px
		span
			height: auto !important
			line-height: inherit !important
			font-size: 18px
	.order__text_link
		padding: 25px 0 18px
	.order__row
		.btn_green
			padding: 0
			width: 60px
			vertical-align: super
			i
				vertical-align: middle
				display: inline-block
				+svg(settings-pic, 22, 22)
	.input
		.input__row_area
			margin: 20px 0
			height: 130px

//consist__mob
.consist__mob
	font-size: 14px
	display: none
	.consist__item
		padding: 30px 0 30px 0
		border-top: 4px solid #f2f2f2
		&:first-child
			padding-top: 10px
			border: none
	.consist__item_last
		padding-top: 14px
		.consist__title
			font-size: 15px
	.consist__item_first
		padding-top: 0
		.consist__row
			&:first-child
				margin-top: 0
	.consist__row
		margin-top: 16px
		font-size: 13px
		&:first-child
			margin-top: 6px
	.consist__title
		font-size: 13px
		+pb

//radiobatton
.radiobatton, .checkbox
	position: relative
	display: inline-block
	cursor: pointer
	+unselectable
	input
		position: absolute
		left: 0
		top: 4px
		width: 24px
		height: 24px
		opacity: 0
		z-index: 2
		&:checked
			+ span
				&:before
					background: #00aeff
					border-color: #0094d9
				&:after
					display: block
	span
		position: relative
		padding-left: 36px 
		line-height: 1.4
		color: #666
		font-size: 24px
		display: inline-block
		+border-radius(50%)
		+pb
		&:before
			content: ""
			position: absolute
			left: 0
			top: 4px
			width: 24px
			height: 24px
			border: 1px solid #d9d9d9
			background: $white
			+border-radius(50%)
		&:after
			display: none
			content: ""
			position: absolute
			top: 11px
			left: 7px
			height: 10px
			width: 10px
			+border-radius(50%)
			background: $black
		&:hover
			&:before
				background: #f2f2f2 !important

.radiobatton
	display: block
	+clr
	input
		&:checked
			+ span
				&:hover
					&:before
						background: #00aeff !important
	// &.radiobatton_mod
	// 	span
	// 		margin-left: 10px

//checkbox
.checkbox
	input
		top: 0
		&:checked
			+ span
				&:before
					border-color: #00b900
					background: #00d700 !important
				&:after
					display: block
	span
		height: 24px
		line-height: 24px
		font-size: 16px
		font-weight: 400
		cursor: pointer
		+pr
		&:before
			top: 0
			border-width: 2px
			background: #fff !important
			+border-radius(0)
			background: none
		&:after
			top: 6px
			left: 3px
			+s(availability-ico)
//input
.input
	font-size: 20px
	.input__row
		height: 40px
		&.input__row_area
			height: 80px
			
	input, textarea
		padding: 0 10px
		height: 100%
		width: 100%
		font-size: 20px
		border: 2px solid #d9d9d9
		-webkit-appearance: none
		background: #fff 
		+placeholder-color($black)
		+box 
		-webkit-border-radius: 0 
		border-radius: 0 
		&:focus
			border-color: #0078ff 
			+placeholder
				font-size: 0
	textarea
		padding: 8px 10px
		line-height: 1.2
		resize: none
	&.input_28
		width: 28%

.form-control
	box-shadow: none
	-webkit-appearance: none
	background: #fff
	&:focus
		border-color: #0078ff 
		box-shadow: none !important 
		+placeholder
			font-size: 0
//table
.table
	th, td
		border-top: none !important
		&:first-child
			padding-left: 0
	th
		font-size: 24px
		+pb
//filter
.filter
	margin-bottom: 60px
	.filter__top
		margin-bottom: 8px
		+clr
		.select__text
			padding-left: 115px
		.select__list
			padding: 0 15px
	.filter__row
		margin-bottom: 10px
	.select-2
		position: relative
		.select__name
			position: absolute
			left: 16px
			top: 50%
			margin-top: -10px
			height: 20px
			line-height: 20px
			font-size: 16px
			color: #666666
			z-index: 1
	.filter__select-2
		width: 330px
		.select__list
			padding: 0 8px
	.filter__setting
		display: none
		+clr
	.filter__text
		font-size: 20px
	.filter__item
		.btn
			width: 100%
	.filter__item_mob
		display: none
	.filter__closebtn
		position: absolute
		top: 10px
		right: 15px
		+svg(close-black ,20, 20)
	.filter__block
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		padding: 70px 20px 20px
		z-index: 4
		overflow: auto
		background: #fff
		display: none
		.filter__closebtn
			position: absolute
			top: 20px
			right: 20px
		.btn, .checkbox
			width: 100%
		.filter__pref
			position: absolute
			top: 20px
			left: 20px
			+svg(arr-filter, 14, 22)
//deliv_mod
.deliv
	&.deliv_mod
		margin-bottom: 20px
.index-ul
	padding: 60px 0


//mob-visible-block
.mob-visible-block
	margin: 40px 0
	padding-left: 15px
	display: none
	a
		position: relative
		margin-top: 25px
		color: $blue
		font-size: 24px
		display: block
		+pb
		&:hover
			color: $blue
		&:before
			position: absolute
			content: ''
			top: 50%
			right: 20px
			margin-top: -10px
			+svg(mob-link-rev, 14, 21)
		&:first-child
			margin-top: 0

//footer
.footer
	color: #B2B2B2
	font-size: 16px
	overflow: hidden
	background: #333
	+clr
	+pr
	line-height: 1.5
	a
		color: #B2B2B2
		text-decoration: none
		&:hover
			text-decoration: underline
	.footer_copy
		padding-left: 5px
		color: #B2B2B2
		font-size: 16px
		display: inline-block
		+pr
	.footer__title-1, 
	.footer__title-2
		padding: 5px 0 2px
		color: $white
		display: block
		+pb
		&:first-letter
			text-transform: uppercase
			padding-bottom: 8px
	.footer__title-1
		font-size: 16px
	.footer__title-2 
		font-size: 18px
	.footer__title-2_inl
		display: inline-block
	.footer__title-copy
		+pr 
		color: #B2B2B2
	.footer__in
		display: none
	.footer__item
		padding: 56px 0 70px 16px
		&:last-child
			padding-left: 15px
	.footer__item_visible
		display: none
		ul  
			margin-left: 8px
	.footer__item_hidden, .footer__item_right
		float: right !important
	.foorer__row
		margin-bottom: 40px
	.footer__item_first	
		float: left
		padding-bottom: 300px
		background: #1a1a1a
	.footer__list
		margin-bottom: 13px
		li
			padding: 5px 0
			a
				&:hover
					color: #B2B2B2
	.soc
		margin-top: 30px
		text-align: left
		li
			margin-bottom: 24px
			margin-right: 32px
		.soc__ico_vk
			+svg(vk-2, 22, 29)
		.soc__ico_fb
			+svg(fb-2, 16, 33)
		.soc__ico_ins
			+svg(ins-2, 30, 30)
		.soc__ico_g
			+svg(g-2, 35, 33)
		.soc__ico_mail
			+svg(mail-2, 33, 28)


// max-width 1200
@media screen and (max-width: 1200px)
	.soc
		li
			margin-right: 21px !important
	.navbar
		width: 211px
		a
			font-size: 20px
	.price.price_big
		font-size: 26px
	.order
		.order__title_2
			font-size: 20px
	.kate
		.kate__prise
			font-size: 20px
		.kate__prise-red
			font-size: 16px
	.footer
		.footer__title-2
			font-size: 16px
		.discount
			font-size: 13px

// max-width 992
@media screen and (max-width: 992px)
	.container
		width: 100% !important
	.header
		height: 80px
		.container	
			position: initial
	.header__logo
		top: 11px !important
		left: 6px
		width: 105px !important
		height: 60px !important
	.header__info
		display: none !important
	.header-btn
		display: block !important
	.menu
		display: none
	.breadcrumbs
		display: none
	.product
		margin-top: 60px
		.product__title
			font-size: 26px
		.buy__text
			font-size: 26px
			span
				font-size: 16px

	.navbar
		width: 234px
	.title
		font-size: 36px
	.field__top
		padding-bottom: 30px
	.tabbable li a
		font-size: 16px !important
	.nav__text1
		display: none
	.nav__text2
		display: block !important
	.reviewsform__all, .reviewsform__quantity
		font-size: 16px
	.reviewsform__row
		.btn
			font-size: 16px
	.media_resp
		display: none
	.footer__item
		float: left !important
	.footer__item_first
		float: right !important
		padding-bottom: 60px !important
	.footer__item_hidden
		display: none
	.footer__item_visible
		display: block !important
	.footer
		.about
			display: none
		.contacts
			display: none
		.phone, .mail
			width: 100%
			color: #b2b2b2
			+pr
		.footer__in
			padding-right: 20px
			display: block
			.footer__title-1
				color: #b2b2b2
				+pr
	.help
		display: none
	.pay
		.price
			font-size: 19px
		.price_big
			font-size: 24px
		&.pay_top
			&:before,
			.pay__info
				display: block !important
			.help
				top: 0
				left: 0
	.pay__row
		.price, .discount
			font-size: 18px
	.filter
		.filter__top
			margin-top: 22px

@media screen and (max-width: 768px)
	.category
		.category__link
			height: 70% !important
		.category__prise
			height: 190% !important
	.field__top, .field__top_grey
		position: relative
		padding: 19px 40px 17px 15px !important
		color: $white
		margin: 31px 0 15px !important
		background: $black!important
		.title
			margin: 0 !important
			font-size: 26px !important
	.kate .kate__prise-red
		font-size: 16px
	.link
		display: none
	.title
		font-size: 26px !important
	.product
		margin: 0
		.product__left
			padding-left: 0
			padding-right: 0
		.product__right
			padding-left: 15px
			padding-right: 15px
		.characteristics, .availability
			margin: 30px 0
		.slider
			height: 320px
			overflow: hidden
			border-width: 2px
		.product__title
			font-size: 24px
		.availability
			font-size: 15px
		.characteristics__name
			padding-left: 0
	.description
		.title
			&:first-letter
				text-transform: uppercase
	.reviews
		.media
			.date
				padding-left: 0
				font-size: 14px
			.media-heading
				font-size: 15px
			.media-body
				font-size: 16px
			.media-body_mod
				overflow: hidden
	.mob-visible-block
		display: block
	.field_grey
		background: none !important
	.field_mob-grey
		background: #f2f2f2
	.field__top
		width: 99.8% !important
	.field__top_mob
		background: none !important
		.title
			color: $black
			font-size: 32px !important
		.btn-top
			display: none
	.article
		margin-bottom: 0
		font-size: 15px
		line-height: 1.3
	.select-2_mod
		display: block !important
	.media-text
		margin: 20px 0 40px
	.media-body
		overflow: initial !important
	.media-heading
		padding-top: 0
		margin-bottom: 0
		+ p
			margin-top: 0
	.btn-top
		position: absolute
		right: 15px
		top: 50%
		margin-top: -6px !important
		+svg(pic-scr-top2, 20, 13)
		&.btn-top_mod
			margin-right: -15px
	.btn_resp
		width: 100%
	.footer__item 
		margin-left: -5px
		padding: 0 20px !important
	.footer__item_first
		padding-bottom: 60px !important
	// .footer__item_visible
	// 	margin: 60px 0 0 0
	.footer 
		padding: 26px 0
		.footer__in
			margin-top: 17px
		.footer__item
			float: left !important
		.footer__list 
			margin-bottom: 0
			li
				padding: 5px 0 13px 
		.footer__item_visible
			ul
				margin-left: 12px
		.footer__title-2
			padding-bottom: 11px
			font-size: 24px
	
	.soc
		margin: 40px 0 !important
	.buy
		.btn
			width: 125px
		.buy__text
			margin-left: 15px !important
	.pay__row_top
		display: none
	.pay__row
		.media
			width: 100%
			margin-bottom: 15px
			img
				margin-right: 15px
			.media-body
				padding-right: 0
				+clr
			.pull-left
				padding-left: 0
				margin-right: 0
			.media-heading	
				margin-top: -4px
				width: 70%
				padding-top: 0
				font-size: 18px
		.input_mar, .price, .discount
			margin-left: -15px !important
		.input
			margin-top: 22px
		.price, .discount
			font-size: 16px
		.pay__col, .price
			height: auto
			line-height: 1.4
		.pay__title
			font-size: 18px
			padding-bottom: 10px
		.radiobatton
			span
				font-size: 18px
		.pay__text
			display: none
		.pay__input
			padding-bottom: 22px
		.col-grey
			padding-top: 1px
			background: #d9d9d9
		.pay__title_mob
			padding: 27px 0 0
		&.pay__row_form
			margin-bottom: 0
		&.pay__border_none
			display: none
		&.pay__border_block
			display: block !important
		.pad-mob
			padding-left: 85px
	.discount__percent
		display: block
	.deliv
		margin-bottom: 8px !important
		.col-grey
			height: 80px
			line-height: 80px
			.price
				vertical-align: middle
				display: inline-block
		&.radiobatton
			margin-right: 0
			margin-left: 0
			span
				vertical-align: middle
				font-size: 16px
				font-weight: 400
				+pr
				&:before,
				&:after
					top: 50%
					margin-top: -12px
				&:after
					margin-top: -5px
			input
				top: 50%
				margin-top: -12px
	.kate
		margin-bottom: 52px
	.pay_form
		.pay__row
			margin-bottom: 0 !important
			.input
				margin-top: 0
				textarea
					font-size: 16px
					height: 100px
			p
				display: none
		.btn
			margin-top: 24px
			width: 100%
	.pay 
		.pay__row
			margin-bottom: 20px
		.pay__row_form, .pay__row_mod2
			margin-bottom: 0
		.pay__border
			margin-bottom: 30px
		.pay__border_block
			margin-bottom: 20px
		.media
			margin-bottom: 0
		.title_pmob
			padding-top: 20px
			font-size: 32px !important
		.pay__title_lmob
			padding-top: 10px
		.title_pmob2
			font-size: 28px !important
		.pay_grey
			padding-top: 35px
		.pay__col
			font-size: 15px
		&.pay_top
			.title
				font-size: 32px !important
		.pay__row_btn
			margin-bottom: 40px !important
	.order
		.order__btn
			padding: 0
			width: 60px
			height: 60px
			vertical-align: middle
			.btn__ico
				display: inline-block
		.btn__text
			display: none
		.table
			display: none
		.order__title
			margin: 0 0 28px
			padding-left: 0
			font-size: 24px
			&.order__title_mod
				padding: 32px 19px 11px 0
				font-size: 18px
			&.order__title_bot
				margin-top: 30px
				padding: 26px 38px 11px 0
				display: inline-block
			&.order__title_bot2
				margin-top: 27px
			&.order__title_bot3
				margin-top: 42px
				margin-bottom: 18px
		.consist__mob
			display: block
			.price
				font-size: 16px
		.row-xs
			margin-bottom: 5px
			+clr
			.col-xs-12
				margin-bottom: 12px
			.order__title_2, 
			.order__text_name,
			.order__text_date
				float: left
				width: 50%
		.order__title_2
			font-size: 14px
			&.order__title_mob
				display: block
		.order__text
			font-size: 14px
		.order__text_link
			padding: 15px 0 10px
		.order__checkbox
			margin: 14px 0 0 0 !important
			span
				font-size: 13px
		.order__row .btn_green
			height: 60px
		.input_focus
			input
				font-size: 14px 
		.order__client
			.order__title	
				margin-top: 8px
				margin-bottom: 15px
				padding-bottom: 0
		.input .input__row_area
			margin: 30px 0 17px
			height: 130px 
	.filter
		.filter__item, .filter__sorting
			display: none
		.filter__item_desc
			display: none
		.filter__setting
			float: left
			margin: 30px 0 20px
			width: 100%
			display: block
		.filter__top
			margin-top: 40px
			.title
				width: 100%
				font-size: 32px !important
		.filter__item
			padding-top: 45px
			position: fixed
			top: 0
			left: 0
			right: 0
			bottom: 0
			background: #fff
			z-index: 3
	.help__title
		margin-bottom: 18px
	.pay .pay__left
		padding-right: 15px
		font-size: 16px
		.input
			margin-top: 0
			input
				font-size: 13px

@media screen and (max-width: 465px)
	.checkbox_mob
		span
			font-size: 14px
			line-height: 20px
			&:before
				top: 8px
			&:after
				top: 13px
	.title 
		font-size: 22px !important
		letter-spacing: 0
		line-height: 1.1
		
.select-2_collapse
	.select__list
		position: relative
		max-height: 100%
		margin: 0
		padding: 0
		overflow: hidden !important
		&.collapsing
			display: block
	&.is-active
		.select__list
			display: block
	.select__list_white
		position: relative 
		max-height: 100% !important
		&:before
			content: ""
			position: absolute
			top: 0
			left: 10px
			right: 10px
			height: 5px
			background: #d9d9d9 
			z-index: 2
		.select__scroll
			padding: 12px 0 7px
			margin: 0 10px 10px
			ul
				margin: 0
		li
			margin: 0 !important
			&:last-child
				padding-bottom: 0
			
.select__scroll
	position: relative
	background: #fff
	max-height: 290px
	overflow-x: hidden
	overflow-y: auto
	.col-md-12
		padding-left: 7px
	li
		background: none

.media_char
	.media__ico
		margin-bottom: 30px
	.media-body_mod
		overflow: hidden !important
.user-icon
	display: block
	margin: 0 20px 20px 0 
	width: 62px
	height: 62px
	overflow: hidden
	&.pull-left
		margin: 0 20px 20px 0 !important
	img
		max-width: 100%
		height: auto