@font-face {
    font-family: "ProximaNova-Regular";
    src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot");
    src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"),
         url("../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype"),
         url("../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
    font-weight: regular;
    font-style: normal;
}