@font-face {
    font-family: "ProximaNova-LightIt";
    src: url("../fonts/Proxima-Nova-Light-Italic/Proxima-Nova-Light-Italic.eot");
    src: url("../fonts/Proxima-Nova-Light-Italic/Proxima-Nova-Light-Italic.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Proxima-Nova-Light-Italic/Proxima-Nova-Light-Italic.woff") format("woff"),
         url("../fonts/Proxima-Nova-Light-Italic/Proxima-Nova-Light-Italic.ttf") format("truetype"),
         url("../fonts/Proxima-Nova-Light-Italic/Proxima-Nova-Light-Italic.svg#ProximaNova-LightIt") format("svg");
    font-weight: 300;
    font-style: italic;
}