@font-face {
    font-family: "ProximaNova-Bold";
    src: url("../fonts/Proxima-Nova-Bold/Proxima-Nova-Bold.eot");
    src: url("../fonts/Proxima-Nova-Bold/Proxima-Nova-Bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Proxima-Nova-Bold/Proxima-Nova-Bold.woff") format("woff"),
         url("../fonts/Proxima-Nova-Bold/Proxima-Nova-Bold.ttf") format("truetype"),
         url("../fonts/Proxima-Nova-Bold/Proxima-Nova-Bold.svg#ProximaNova-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
}