@font-face {
    font-family: "PTRoubleSans";
    src: url("../fonts/RUBSN/RUBSN.eot");
    src: url("../fonts/RUBSN/RUBSN.eot?#iefix") format("embedded-opentype"),
         url("../fonts/RUBSN/RUBSN.woff") format("woff"),
         url("../fonts/RUBSN/RUBSN.ttf") format("truetype"),
         url("../fonts/RUBSN/RUBSN.svg#PTRoubleSans") format("svg");
    font-weight: regular;
    font-style: normal;
}