.button
    display inline-block
    width 100%
    height 60px
    color whites
    ff(bold,2.6,2.6)
    background-color: lightGreys
    border none
    border-top 4px solid transparent
    border-bottom 4px solid darkGreys
    padding 0px 20px
    outline 0px
    sf()
.buttonGreen
    @extend .button
    background-color greens
    border-bottom-color darkGreens
.buttonSmallGreen
    @extend .buttonGreen
    height 45px
    ff(bold,2.0,2.0)
.buttonBlue
    @extend .button
    background-color blues
    border-bottom-color darkBlues
.buttonSmallBlue
    @extend .buttonBlue
    ff(bold,2.0,2.0)
.buttonDarkBlue
    @extend .button
    background-color buttonBlues
    border-bottom-color buttonDarkBlues

.buttonSmallDarkBlue
    @extend .buttonDarkBlue
    ff(bold,2.0,2.0)