.productCategory
    display block
    sf()
.productCategoryItem
    display block
    sf()

.productCategoryItemMobile
    display block
    sf()
.productCategoryMobileLeft,
.productCategoryMobileRight
    column(1/1)
    @media phone
        span(1/2,cycle:2)
    @media tablet
        span(1/2,cycle:2)
.productCategoryItemMobileGreenLight
    @extend .productCategoryItemMobile
    background-color #a1ba00

.productCategoryItemMobileGreenDark
    @extend .productCategoryItemMobile
    background-color #007a5b

.productCategoryItemMobileGreen
    @extend .productCategoryItemMobile
    background-color #007a5b

.productCategoryItemMobileBlueDark
    @extend .productCategoryItemMobile
    background-color #2852b0

.productCategoryItemMobileBlueLight
    @extend .productCategoryItemMobile
    background-color #0078ff
.productCategoryItemMobileBlue
    @extend .productCategoryItemMobile
    background-color #28a2b0

.productCategoryItemMobileRed
    @extend .productCategoryItemMobile
    background-color #b4001a

.productCategoryItemText
    column(2/3)
    padding 15px 20px
    color white
    @media phone
        padding-top 35px
    @media tablet
        padding-top 35px
.productCategoryItemTextHeader
    ff(bold,2.4)
    text-transform uppercase
.productCategoryItemTextPrice
    ff(normal,1.6)
    i
        padding-left 4px
        ff(rubl,1.6,2.2)
.productCategoryItemImage
    column(1/3)
    text-align right
    vertical-align middle
.productCategoryItemImageWrap
    display inline-block
    text-align right
    width 63px
    height 80px
    margin-right 10px
    bg()
    background-size cover
    @media phone
        width 100px
        height 120px
    @media tablet
        width 100px
        height 120px