.productPageReview
    display block
    sf()
.productPageReviewHeader
    display block
    cursor pointer
    color links
    padding 0px 20px
    height 60px
    ff(bold,2.6,6)
    bg(right 20px)
    sf()
    @media phone
        display none
    @media tablet
        display none

.productPageReviewHeaderActive
    background-color bgGrey
    color white
.productPageReviewHeaderTablet
    display none
    @media phone
        display block
        position relative
        cursor pointer
        color blacks
        padding 0px 20px
        height 60px
        ff(bold,3.6,6)
    @media tablet
        display block
        position relative
        cursor pointer
        color blacks
        background-color lightGreys
        padding 20px 20px 40px
        ff(bold,3.6,3.6)
        sf()

.productPageReviewHeaderTabletButton
    display block
    position absolute
    top 28px
    right 25px
    ff(icon,1.6,1.6)
    a
        color blacks
        &:hover
            text-decoration none
.productPageReviewAutor
    display block
    margin-bottom 40px
    sf()
    @media tablet
        display none
.productPageReviewAutorDesktopTabs
    display none
    width 100%
    background-color lightGreys
    padding 0px 20px
    sf()
    @media phone
        display block
    @media tablet
        display block
.productPageReviewAutorDesktopTab
    display inline-block
    border none
    background-color transparent
    padding 15px 20px
    ff(bold,1.8,1.8)
    color links
    outline none
.productPageReviewAutorDesktopTabActive
    color blacks
    background-color whites
    border-top 3px solid borderDarkGreys
.productPageReviewAutorDesktopTabsContainer
    display block
    position relative
    sf()
.productPageReviewAutorDesktopText
    display none
    &#tab-1
        display block
.productPageReviewText
    display block
    sf()
    color fontGreys
    ff(normal,1.6,2,0)
    padding 40px 20px 0px
    margin-bottom 40px
    p
        display block
        margin-bottom 20px
        sf()