.productPagePhoto
    display block
    sf()
.productPagePhotoHeader
    display block
    cursor pointer
    color links
    padding 0px 20px
    height 60px
    ff(bold,2.6,6)
    bg(right 20px)
    sf()
    @media phone
        display none
    @media tablet
        display none
.productPagePhotoHeaderActive
    background-color bgGrey
    color white
.productPagePhotoHeaderTablet
    display none
    @media phone
        display block
        position relative
        cursor pointer
        color blacks
        padding 60px 20px 40px
        ff(bold,3.6,3.6)
    @media tablet
        display block
        position relative
        cursor pointer
        color blacks
        padding 60px 20px 40px
        ff(bold,3.6,3.6)
.productPagePhotoHeaderTabletButton
    display block
    position absolute
    top 70px
    right 25px
    ff(icon,1.6,1.6)
    a
        color blacks
        &:hover
            text-decoration none
.productPagePhotoText
    display block
    sf()
    color fontGreys
    ff(normal,1.6,2,0)
    padding 40px 0px 0px
    margin-bottom 40px
    p
        display block
        margin-bottom 20px
        sf()
.bxSliderPagerWrap
    @media tablet
        overflow hidden
        width 70%
        margin 0 auto
        .bx-wrapper
            margin-top 20px
            margin-bottom 20px
.bxPager
    display none
    a
        col(1/4)
        img
            border 1px solid borderGreys
            height 100%
            width 100%
    @media phone
        display block
    @media tablet
        display block