extends _layout

block content
    .productList.container
        .productListHeader
            .productListHeaderText
                | Кайты
            .productListHeaderSort
                mixin dropdown("Сортировка","самые дешевые")
        .productListItems
            .productListItem
                .productListItemElement
                    mixin dropdown("Размеры:","10,13 м2")
                .productListItemElement
                    mixin dropdown("Год:","2014 и 2013")
                .productListItemElement
                    mixin dropdown("Бренд:","North")
                .productListItemElement
                    mixin dropdown("","Для фрирайда")
                .productListItemElement
                    mixin dropdown("","Любой формы")
                .productListItemElement.tabletHide
                    mixin dropdown("Сортировка","самые дешевые")
            mixin productItem("-20%","img/north-kites-north-rebel-2013.jpg","North","Evo ‘13","46000","41000")
            mixin productItem("NEW","img/north-kites-north-rebel-2013.jpg","North","Evo ‘13","47000")
            mixin productItem("-30%","img/north-kites-north-rebel-2013.jpg","North","Evo ‘13","41000")
            mixin productItem("-50%","img/north-kites-north-rebel-2013.jpg","North","Evo ‘13","43000")
            mixin productItem("","img/north-kites-north-rebel-2013.jpg","North","Evo ‘13","46000","41000")
            mixin productItem("","img/north-kites-north-rebel-2013.jpg","North","Evo ‘13","46000","41000")
            mixin productItem("","img/north-kites-north-rebel-2013.jpg","North","Evo ‘13","46000","41000")
            mixin productItem("","img/north-kites-north-rebel-2013.jpg","North","Evo ‘13","46000","41000")
            mixin productItem("-20%","img/north-kites-north-rebel-2013.jpg","North","Evo ‘13","46000","41000")
