extends _layout

block content
    .bannerText
        | Огромный выбор оборудования для кайтсерфинга, кайтбординга, сноукайтинга и многое другое
    .productCategory
        .productCategoryMobileLeft
            mixin productCategoryItem('GreenLight','Кайты','32000','./img/kite.png')
            mixin productCategoryItem('GreenDark','Кайтборды','32000','./img/kite.png')
            mixin productCategoryItem('BlueDark','Гидроодежда','32000','./img/kite.png')
            mixin productCategoryItem('Green','Одежда','32000','./img/kite.png')
            mixin productCategoryItem('GreenLight','Акссесуары','32000','./img/kite.png')
        .productCategoryMobileRight
            mixin productCategoryItem('GreenDark','Трапеции','32000','./img/kite.png')
            mixin productCategoryItem('BlueLight','сноукайтборды','32000','./img/kite.png')
            mixin productCategoryItem('Green','Одежда','32000','./img/kite.png')
            mixin productCategoryItem('Blue','Комплекты','32000','./img/kite.png')
            mixin productCategoryItem('Red','Распродажа','32000','./img/kite.png')