.productPageCart
    display block
    sf()
    @media phone
        margin-top 60px
.productPageCartLeft,
.productPageCartRight
    @media phone
        col(1/2)
    @media tablet
        col(1/2)
.productPageSlider
    display block
    margin-bottom 10px
    sf()

.productPageItemHeader
    display block
    padding 0px 20px
    margin-bottom 30px
    ff(bold,2.6,3)
    sf()
.productPageItemOptions
    display block
    padding 0px 20px
    margin-bottom 30px
    sf()
.productPageItemOption
    display block
    margin-bottom 10px
    sf()
.productPageItemOptionLabel
    col(1/4)
    vertical-align middle
    @media phone
        col(2/6)

.productPageItemOptionInput
    col(3/4)
    vertical-align middle
    @media phone
        col(4/6)
    @media tablet
        col(4/6)

.productPageItemAvalaible
    display block
    ff(normal,1.6,2.8)
    color greys
    margin-bottom 30px
    margin-left 20px
    margin 0px 20px 30px 20px
    padding-left 40px
    bg(left)
    sf()

.productPageItemButtons
    display block
    margin-bottom 40px
    padding 0px 20px
    sf()
.productPageItemButtonItem
    display block
    margin-bottom 20px
    sf()
.productPageItemButton
    col(2/5)
    @media phone
        col(3/6)
.productPageItemPrice
    col(3/5)
    padding-left 10px
    ff(bold,2.6,5)
    color blacks
    i
        padding-left 4px
        ff(rubl,1.6,2.6)
    b
        ff(bold,1.6,5)
        color blacks
    @media phone
        padding-left 20px
        col(3/6)