.productPageFeedback
    display block
    background-color lightGreys
    padding-bottom 20px
    sf()
.productPageFeedbackHeader
    display block
    cursor pointer
    color links
    padding 0px 20px
    height 60px
    ff(bold,2.6,6)
    bg(right 20px)
    sf()
    @media phone
        display none
    @media tablet
        display none
.productPageFeedbackHeaderActive
    background-color bgGrey
    color white
.productPageFeedbackHeaderTablet
    display none
    @media phone
        display block
        position relative
        cursor pointer
        color blacks
        padding 60px 20px 40px
        ff(bold,3.6,3.6)
    @media tablet
        display block
        position relative
        cursor pointer
        color blacks
        padding 60px 20px 40px
        ff(bold,3.6,3.6)
.productPageFeedbackTabletButton
    display block
    position absolute
    top 70px
    right 25px
    ff(icon,1.6,1.6)
    a
        color blacks
        &:hover
            text-decoration none
.productPageFeedbackText
    display block
    sf()
    color fontGreys
    ff(normal,1.6,2,0)
    padding 40px 20px 0px
    margin-bottom 40px
    p
        display block
        margin-bottom 20px
        sf()
    @media tablet
        padding-top 0px


.productPageFeedbackAutor
    display block
    margin-bottom 20px
    sf()
.productPageFeedbackAutorImage
    display block
    float left
    height 100%
    margin-right 20px
    @media tablet
        display table-cell
        margin-right 30px
.productPageFeedbackAutorText
    display block
    a
        ff(bold,1.6)
    em
        display block
        margin-bottom 40px
        ff(normal,1.4,1.8)
    @media tablet
        display table-cell
        em
            padding-left 10px
            display inline-block
            margin-bottom 20px
.productPageFeedbackFormLabel
    display block
    margin-bottom 10px
    sf()
.productPageFeedbackFormTextarea
    display block
    margin-bottom 30px
    sf()

.productPageFeedbackFormButton
    a
        display none
    @media tablet
        display block
        sf()
        a
            display inline-block
            padding-top 13px
            ff(bold,1.8)
            i
                padding-left 3px
                color fontLightGreys
                ff(normal,1.8)
        button
            width auto
            float right


