.cartWrap
    .cartItemsWrap
        .cartItems
            .cartItemHeader
                .cartItemHeaderName
                    | Наименование товара
                .cartItemHeaderQty
                    | Количество
                .cartItemHeaderPrice
                    | Цена
            .cartItem
                .cartItemImage
                        img(src="img/north-kites-north-rebel-2013.jpg", alt="")
                .cartItemName
                    .cartItemNameHeader
                        .cartItemImageDesktop
                            img(src="img/north-kites-north-rebel-2013.jpg", alt="")
                        .cartItemNameHeaderText
                            North Vegas 2013 Limited </br> Edition 12 м²
                    .cartItemQty
                        mixin dropdown("","1 шт.")
                    .cartItemPrice
                        .cartItemFullPrice
                            | 42000
                            i г
                        .cartItemSalePrice
                            | 38000
                            i г
                            b -25%
            .cartItem
                .cartItemImage
                        img(src="img/north-kites-north-rebel-2013.jpg", alt="")
                .cartItemName
                    .cartItemNameHeader
                        .cartItemImageDesktop
                            img(src="img/north-kites-north-rebel-2013.jpg", alt="")
                        .cartItemNameHeaderText
                            North Vegas 2013 Limited </br> Edition 12 м²
                    .cartItemQty
                        mixin dropdown("","1 шт.")
                    .cartItemPrice
                        .cartItemFullPrice
                            | 42000
                            i г


        .cartSummary
            .cartSummaryItem
                .cartSummaryItemName
                    | Общая стоимость товаров
                .cartSummaryItemPrice
                    | 42 000
                    i г
            .cartSummaryItem
                .cartSummaryItemName
                    | Номер карты постоянного клиента
                .cartSummaryItemInput
                    input.input
            .cartSummaryItem
                .cartSummaryItemName
                    | Накопительная скидка </br>с прошлого заказа
                .cartSummaryItemPrice
                    | 42 000
                    i г
        .cartTotal
            .cartTotalItem
                .cartTotalItemName
                    | Итого к оплате
                .cartTotalItemPrice
                    | 52000
                    i г
    .cartSidebar
         .cartSidebarHeader
                | Нужна помощь?
            .cartSidebarText
                p Мы всегда рады ответить на ваши вопросы. Выберите удобный вам способ:
            .cartSidebarItem
                .cartSidebarItemNumber 1
                .cartSidebarItemText
                    | Звоните нам:
                    b </br>8 800 200 5000
            .cartSidebarItem
                .cartSidebarItemNumber 2
                .cartSidebarItemText
                    | Оставьте свой номер, и мы вам перезвоним.</br>
                    input.inputBlueBorder(placeholder="+7")
            .cartSidebarItem
                .cartSidebarItemNumber 3
                .cartSidebarItemText
                    | Свяжитесь по Skype:</br>
                    a(href="#") kiteworld
            .cartSidebarItem
                .cartSidebarItemNumber 4
                .cartSidebarItemText
                    | Напишите нам:</br>
                    a(href="#") info@kiteworld.ru
            .cartSidebarItem
                .cartSidebarItemNumber 5
                .cartSidebarItemText
                    | Задайте свой вопрос</br>  нашим сотрудникам</br>
                    button.buttonSmallGreen Открыть чат