.cartShipping
    .cartShippingHeader
        | Доставка и оплата
    .cartShippingForm
        .cartShippingFormHeader
            | Адрес доставки
        .cartShippingFormItems
            .cartShippingFormItem
                input.inputGreyBorder(placeholder="Индекс")
            .cartShippingFormItem
                input.inputGreyBorder(placeholder="Страна")
            .cartShippingFormItem
                input.inputGreyBorder(placeholder="Регион")
            .cartShippingFormItem
                input.inputGreyBorder(placeholder="Населенный пункт")
            .cartShippingFormItem
                input.inputGreyBorder(placeholder="Улица")
            .cartShippingFormItem
                .cartShippingFormItemThree
                    input.inputGreyBorder(placeholder="дом")
                .cartShippingFormItemThree
                    input.inputGreyBorder(placeholder="стр.")
                .cartShippingFormItemThree
                    input.inputGreyBorder(placeholder="кв")
    .cartShippinTypeForm
        .cartShippinTypeFormHeader
            | Способ доставки
        .cartShippinTypeFormItems
            .cartShippinTypeFormItem
                .cartShippinTypeFormItemInput
                    input(type="radio", name="radio1")#radio1.icheck
                .cartShippinTypeFormItemLabel
                    label.labelRadio(for="radio1")
                        | Курьерская доставка
                    p Доставка осуществляется транспортными компаниями Желдорэкспедиция (www.jde.ru) . Срок доставки этими компаниями сильно зависит от места нахождения нашего клиента, так, например по нашей многолетней правктике доставка в ближайшие города москвы такие как Тверь,
                .cartShippinTypeFormItemText
                    | 38000
                    i г
            .cartShippinTypeFormItem
                .cartShippinTypeFormItemInput
                    input(type="radio", name="radio1")#radio2.icheck
                .cartShippinTypeFormItemLabel
                    label.labelRadio(for="radio2")
                        | Самовывоз
                    p Заказ нужно будет забрать со склада нашего магазина. Дальше рассказ, как проехать к самовывозу.

                    span
                        a(href="#") Карта
                        a(href="#") Как проехать
                .cartShippinTypeFormItemText
                    | Бесплатно
    .cartShippinTypeFormBorder
        .cartShippinTypeFormHeader
            | Способ оплаты
        .cartShippinTypeFormItems
            .cartShippinTypeFormItem
                .cartShippinTypeFormItemInput
                    input(type="radio", name="radio1")#radio1.icheck
                .cartShippinTypeFormItemLabel
                    label.labelRadio(for="radio1")
                        | Наличными курьеру
                    p Курьер привозит к вам домой товары, вы оплачиваете при получении наличными.
                .cartShippinTypeFormItemText
                    | Бесплатно

            .cartShippinTypeFormItem
                .cartShippinTypeFormItemInput
                    input(type="radio", name="radio1")#radio2.icheck
                .cartShippinTypeFormItemLabel
                    label.labelRadio(for="radio2")
                        | Пластиковой картой
                    p Удобный способ оплаты не выходя из своего дома! Можно пользоваться кредитными картами, чтобы кататься уже сейчас, а платить потом!
                .cartShippinTypeFormItemText
                    | 250
                    i г
            .cartShippinTypeFormItem
                .cartShippinTypeFormItemInput
                    input(type="radio", name="radio1")#radio2.icheck
                .cartShippinTypeFormItemLabel
                    label.labelRadio(for="radio2")
                        | Оформить кредит онлайн
                    p Здесь кратко перечислить условия - сумма первого взноса, минимальная/максимальная покупка, какие документы требуются, как долго рассматривается заявка / оформляются документы.
                .cartShippinTypeFormItemText
                    | Бесплатно
    .cartShippinTotal
        .cartShippinTotalHeader
            | Итого с доставкой
        .cartShippinTotalItems
            .cartShippinTotalItem
                .cartShippinTotalItemName
                    | Стоимость товаров
                .cartShippinTotalItemAmount
                    | 52 000
                    i г
            .cartShippinTotalItem
                .cartShippinTotalItemName
                    | Доставка курьером по Москве
                .cartShippinTotalItemAmount
                    | 3 000
                    i г
            .cartShippinTotalItem
                .cartShippinTotalItemName
                    | Комиссия за платёж пластиковой картой
                .cartShippinTotalItemAmount
                    | 250
                    i г
    .cartShippinTotal
        .cartShippinTotalHeader
        .cartShippinTotalItems
            .cartShippinTotalSummaName
                | Сумма к оплате
            .cartShippinTotalSummaAmount
                | 3 000
                i г









