.cartContact
    .cartContactHeader
        | Ваши контактные данные
    .cartContactForm
        .cartContactFormItem
            .cartContactFormItemLabel
                | ФИО
            .cartContactFormItemInput
                input.inputGreyBorder
                p Требуется для службы доставки, чтобы ваш заказ достался только вам.
        .cartContactFormItem
            .cartContactFormItemLabel
                | Е-мейл
            .cartContactFormItemInput
                input.inputGreyBorder
                p Мы будем информировать вас о статусе вашего заказа по электронной почте. Никаких рассылок, обещаем!
        .cartContactFormItem
            .cartContactFormItemCheckbox
                .cartContactFormItemCheckboxInput
                    input(type="checkbox").icheck
                .cartContactFormItemCheckboxLabel
                    label.labelCheckbox
                        | Я хочу подписаться на рассылку новостей и предложений.


        .cartContactFormItem
            .cartContactFormItemLabel
                | Телефон
            .cartContactFormItemInput
                input.inputGreyBorder
                p Для связи по срочным вопросам
        .cartContactFormItem
            .cartContactFormItemLabel
                | Комментарий
            .cartContactFormItemInput
                textarea(rows="3").textareaGreyBorder
        .cartContactFormItem
            .cartContactFormItemButton
                button.buttonGreen Оформить заказ