.header
    .container
        .headerLeft
            .headerLogo
                a(href="#")
            .headerContact
                .headerContactPhone
                    | 8-800-2000-600
                .headerContactEmail
                    a(href="mailto:") zakaz@kiteworld.ru
        .headerRight
            .headerMenu
                .headerMenuItem
                    a(href="#").headerMenuItemShop Магазин
                .headerMenuItem
                    a(href="#") Новости
                .headerMenuItem
                    a(href="#") Оборудование
                .headerMenuItem
                    a(href="#") Школа
                .headerMenuItem
                    a(href="#") Туры
                .headerMenuItem
                    a(href="#") Корзина
                    .headerCartBadge
                        a(href="#") 33

            .headerMobileCart
                a(href="#")
                .headerCartBadge
                    a(href="#") 33
            .headerMobileMenuButton
                a(href="#")
        include topMenu