mixin productImage(triangle,img)
    .productImage
        if triangle
            if triangle == "NEW"
                .productImageTriangle
                    .productImageGreenTriangle
                    .productImageTriangleText NEW
            else
                .productImageTriangle
                    .productImageRedTriangle
                    .productImageTriangleText= triangle
        .productImageImage
            img(src=img)