.productPageVideo#Video
    .productPageVideoHeader.productPageVideoHeaderActive
        | Видео
    .productPageVideoHeaderTablet
        | Видео
        .productPageVideoHeaderTabletButton
            a(href="#top") &#xe00E
    .productPageVideoText
        iframe.productPageVideoTextIframe(width="100%", src="//www.youtube.com/embed/DmZycNUeh1E",frameborder="0",allowfullscreen)