.productPageSaleble
    .productPageSalebleHeader
        | С этим товаром также покупают
    .productPageSalebleItems
        mixin productItem("-20%","img/north-kites-north-rebel-2013.jpg","North","Evo ‘13","46000","41000")
        mixin productItem("NEW","img/north-Vegas-2013.jpg","North","Evo ‘13","46000","41000")