.productPagePhoto#Photo
    .productPagePhotoHeader.productPagePhotoHeaderActive
        | Фото
    .productPagePhotoHeaderTablet
        | Фото
        .productPagePhotoHeaderTabletButton
            a(href="#top") &#xe00E
    .productPagePhotoText
        .bxPager
            a(href="javascript:void(0)",data-slide-index="3")
                img(src="img/north-kites-north-rebel-2013.jpg")
            a(href="javascript:void(0)",data-slide-index="4")
                img(src="img/north-Vegas-2013.jpg")
            a(href="javascript:void(0)",data-slide-index="5")
                img(src="img/north-kites-north-rebel-2013.jpg")
            a(href="javascript:void(0)",data-slide-index="6")
                img(src="img/north-kites-north-rebel-2013.jpg")
        .bxSliderPagerWrap
            .bxSliderPager
                .bxSliderItem
                    mixin productImage("","img/north-kites-north-rebel-2013.jpg")
                .bxSliderItem
                    mixin productImage("","img/north-Vegas-2013.jpg")
                .bxSliderItem
                    mixin productImage("","img/north-kites-north-rebel-2013.jpg")
                .bxSliderItem
                    mixin productImage("","img/north-kites-north-rebel-2013.jpg")
                .bxSliderItem
                    mixin productImage("","img/north-Vegas-2013.jpg")
                .bxSliderItem
                    mixin productImage("","img/north-kites-north-rebel-2013.jpg")
        .bxPager
            a(href="javascript:void(0)",data-slide-index="0")
                img(src="img/north-kites-north-rebel-2013.jpg")
            a(href="javascript:void(0)",data-slide-index="1")
                img(src="img/north-Vegas-2013.jpg")
            a(href="javascript:void(0)",data-slide-index="2")
                img(src="img/north-kites-north-rebel-2013.jpg")
            a(href="javascript:void(0)",data-slide-index="3")
                img(src="img/north-kites-north-rebel-2013.jpg")