.productPageCart
    .productPageCartLeft
        .productPageSlider
            .bxSlider
                .bxSliderItem
                    mixin productImage("NEW","img/north-kites-north-rebel-2013.jpg")
                .bxSliderItem
                    mixin productImage("25%","img/north-Vegas-2013.jpg")
            .productPageSocial
                .productPageSocialItems
                    .productPageSocialItemVkontakte
                        a(href="#")
                    .productPageSocialItemFacebook
                        a(href="#")
                    .productPageSocialItemInstagramm
                        a(href="#")
                    .productPageSocialItemGoogle
                        a(href="#")
                    .productPageSocialItemMail
                        a(href="#")

    .productPageCartRight
        .productPageItemHeader
            | Кайт 2013 North Vegas Limited Edition
        .productPageItemOptions
            .productPageItemOption
                .productPageItemOptionLabel
                    label.labelDropdown Размер
                .productPageItemOptionInput
                    mixin dropdown("","12 м2")
            .productPageItemOption
                .productPageItemOptionLabel
                    label.labelDropdown Цвет
                .productPageItemOptionInput
                    mixin dropdown("","Красный")
            .productPageItemOption
                .productPageItemOptionLabel
                    label.labelDropdown Планка
                .productPageItemOptionInput
                    mixin dropdown("","2014 24м, 4 стропы")
            .productPageItemOption
                .productPageItemOptionLabel
                    label.labelDropdown Насос
                .productPageItemOptionInput
                    mixin dropdown("","North Super Pump")
        .productPageItemAvalaible
            | В наличии на нашем складе
        .productPageItemButtons
            .productPageItemButtonItem
                .productPageItemButton
                    button.buttonGreen Купить
                .productPageItemPrice
                    | 65000
                    i г
            .productPageItemButtonItem
                .productPageItemButton
                    button.buttonBlue В кредит
                .productPageItemPrice
                    | 5000
                    i г
                    b /мес