.productPageBrand#Brand
    .productPageBrandHeader.productPageBrandHeaderActive
        | О бренде
    .productPageBrandHeaderTablet
        | О бренде
        .productPageBrandHeaderTabletButton
            a(href="#top") &#xe00E
    .productPageBrandText
        .productPageBrandTextImage
            img(src="img/brand.jpg", alt="")
        p North Vegas 2013 - кайт предназначенный для катания как в стиле фристайл на крюке, так и с возможностью катания анхук.
        p На куполе предусмотрены две плечевые настройки центральных строп - фристайл\вэйкстайл.
        p При настройке «фристайл» у кайта больше ветровой диапазон, по своим летным качествам Vegas 2013 становится ближе к кайтам гибридным фрирайдного толка, он лучше отрабатывает порывы, позволяет кататься в более сильный ветер благодаря расширенному ветровому диапазону. В этой настройке North Vegas 2013 отлично проявляет себя при катании на крюке особенно в средний и сильный ветер, когда прыжки с заводом кайта на нем становятся с мощным подхватом, но кайт не становится излишне резким, полет через все ветровой окно остается плавным и предсказуемым, вообще, некоторая плавность в управлении по сравнению с другими фристайл-кайтами — заметная черта нового Vegas.
        p Вегас обладает очень мощным кайтлупом с практически ровной тягой, кайт хорошо выходит вверх. Кайт очень быстр и требует постоянного внимания к себе.