.productPageBreadcrumbs
    a(href="#") Магазин
    |  /
    a(href="#")  Водный кайтбординг
    |  /
    a(href="#")  Кайты
    |  /
    a(href="#")  Надувные
    |  /
    a(href="#")  Гибриды
    |  /
    a(href="#")  2013