.productPageFeedback#Feedback
    .productPageFeedbackHeader.productPageFeedbackHeaderActive
        | Отзывы
    .productPageFeedbackHeaderTablet
        | Отзывы
        .productPageFeedbackTabletButton
            a(href="#top") &#xe00E

    .productPageFeedbackText
        .productPageFeedbackItem
            .productPageFeedbackAutor
                .productPageFeedbackAutorImage
                    img(src="img/LPlHK4.jpg", alt="")
                .productPageFeedbackAutorText
                    a(href="#") Anna Bichevskaya
                    em 21 Декабря 2013 в 12:45
                    p Отличный кайт для Ньюскула и Вейкстайла! На этом кайте замечательно прыгать на отцепе, кататься в ботинках и вообще очень комфортно. В полете кайт хорошо управляется и благодаря ровному депаверу, при адекватном управлении, как правило получается хорошее зависание,  подходящее для Old School трюков.
        .productPageFeedbackItem
            .productPageFeedbackAutor
                .productPageFeedbackAutorImage
                    img(src="img/LPlHK4.jpg", alt="")
                .productPageFeedbackAutorText
                    a(href="#") Anna Bichevskaya
                    em 21 Декабря 2013 в 12:45
                    p Отличный кайт для Ньюскула и Вейкстайла! На этом кайте замечательно прыгать на отцепе, кататься в ботинках и вообще очень комфортно. В полете кайт хорошо управляется и благодаря ровному депаверу, при адекватном управлении, как правило получается хорошее зависание,  подходящее для Old School трюков.
        .productPageFeedbackForm
            .productPageFeedbackFormLabel
                label.labelBlack Ваш отзыв
            .productPageFeedbackFormTextarea
                textarea(rows=5).textarea
            .productPageFeedbackFormButton
                a(href="#") Читать все отзывы
                    i (12)
                button.buttonSmallDarkBlue Оставить отзыв
