
mixin productItem(triangle,img,brand,model,price,salePrice)
    .productListItem
        mixin productImage(triangle,img)
        .productListItemDescription
            .productListItemBrand
                a(href="#")= brand
            .productListItemModel
                a(href="#")= model
            .productListItemPrice
                .productListItemFullPrice
                    = price
                    i г
                if salePrice
                    .productListItemSalePrice
                        = salePrice
                        i г

