.topMenu
    .topMenuLeft
        .topMenuItem
            a(href="#") Магазин
        .topMenuItemSubItem
            a(href="#") Кайты
        .topMenuItemSubItem
            a(href="#") Кайтборды и аксессуары
        .topMenuItemSubItem
            a(href="#") Трапеции
        .topMenuItemSubItem
            a(href="#") Сноукайтборды и аксессуары
        .topMenuItemSubItem
            a(href="#") Гидроодежда
        .topMenuItemSubItem
            a(href="#") Защита
        .topMenuItemSubItem
            a(href="#") Одежда
        .topMenuItemSubItem
            a(href="#") Аксессуары
        .topMenuItemSubItem
            a(href="#") Распродажа
                i -65%
    .topMenuRight
        .topMenuItem
            a(href="#") Новости
        .topMenuItem
            a(href="#") Оборудование
        .topMenuItem
            a(href="#") Школа
        .topMenuItem
            a(href="#") Туры
        .topMenuItem
            a(href="#") Стол заказов
        .topMenuItem
            a(href="#") Контакты

.topMenuFull
    .topMenuFullColumnFirst
        .topMenuFullItem
            a(href="#") Кайты
        .topMenuFullItemSubItem
            a(href="#") Надувные
        .topMenuFullItemSubItem
            a(href="#") Парафойлы
        .topMenuFullItemSubItem
            a(href="#") Комплекты
        .topMenuFullItemSubItem
            a(href="#") Пилотажки
        .topMenuFullItemSubItem.topMenuFullItemSubItemLast
            a(href="#") Планки

        .topMenuFullItem
            a(href="#") Кайтборды </br> и аксессуары
        .topMenuFullItemSubItem
            a(href="#") Кайтборды
        .topMenuFullItemSubItem
            a(href="#") Падсы, стрепы, </br> плавники
        .topMenuFullItemSubItem
            a(href="#") Ботинки
    .topMenuFullColumn
        .topMenuFullItem
            a(href="#") Трапеции
        .topMenuFullItemSubItem
            a(href="#") Поясные
        .topMenuFullItemSubItem
            a(href="#") Сидячие
        .topMenuFullItemSubItem.topMenuFullItemSubItemLast
            a(href="#") Комби
        .topMenuFullItem
            a(href="#") Сноукайтборды </br> и аксессуары
        .topMenuFullItemSubItem
            a(href="#") Сноукайтборды
        .topMenuFullItemSubItem
            a(href="#") Сноуборды
        .topMenuFullItemSubItem
            a(href="#") Крепления
        .topMenuFullItemSubItem
            a(href="#") Ботинки
        .topMenuFullItemSubItem
            a(href="#") Защита
    .topMenuFullColumn
        .topMenuFullItem
            a(href="#") Гидроодежда
        .topMenuFullItemSubItem
                a(href="#") Гидрокостюмы мокрые длинные
        .topMenuFullItemSubItem
                a(href="#") Гидрокостюмы мокрые короткие
        .topMenuFullItemSubItem
                a(href="#") Гидрокостюмы сухие
        .topMenuFullItemSubItem
                a(href="#") Гидроботинки и гидроноски
        .topMenuFullItemSubItem
                a(href="#") Перчатки
        .topMenuFullItemSubItem
                a(href="#") Гидрошапки
        .topMenuFullItemSubItem
                a(href="#") Лайкры неопреновые
        .topMenuFullItemSubItem
                a(href="#") Плащи, штаны
    .topMenuFullColumn
        .topMenuFullItem
            a(href="#") Защита
        .topMenuFullItemSubItem
            a(href="#") Для воды
        .topMenuFullItemSubItem
            a(href="#") Для суши
        .topMenuFullItemSubItem
            a(href="#") Падлборды
        .topMenuFullItemSubItem.topMenuFullItemSubItemLast
            a(href="#") Индоборды

        .topMenuFullItem
            a(href="#") Одежда
        .topMenuFullItemSubItem
            a(href="#") Летняя
        .topMenuFullItemSubItem
            a(href="#") Зимняя
        .topMenuFullItemSubItem
            a(href="#") Очки
    .topMenuFullColumn
        .topMenuFullItem
            a(href="#") Аксессуары
        .topMenuFullItemSubItem
                a(href="#") Чехлы, сумки, рюкзаки
        .topMenuFullItemSubItem
                a(href="#") Анемометры
        .topMenuFullItemSubItem
                a(href="#") Лиши
        .topMenuFullItemSubItem
                a(href="#") Ремкомплекты
        .topMenuFullItemSubItem
                a(href="#") Рации
        .topMenuFullItemSubItem
                a(href="#") Очки
        .topMenuFullItem
            a(href="#") Распродажа
                i -65%
