.cart
    display block
    sf()
.cartHeader
    column(1/1)
    ff(bold,3.2,3.2)
    padding 30px 20px 0px
    margin-bottom 35px
    sf()
.cartWrap
    display block
    sf()
.cartItemsWrap
    @media tablet
        column(6/9)
.cartSidebar
    @media tablet
        column(3/9)