.productPageSaleble
    display block
    padding-top 40px
    padding-bottom 20px
    sf()
.productPageSalebleHeader
    display block
    padding 0px 20px
    margin-bottom 38px
    ff(bold,2.6,3)
    sf()
.productPageSalebleItems
    display block
    padding 0px 20px
