.cartMobileInfo
    display none
    position absolute
    width 100%
    height 600px
    background-color #cce4ff
    z-index 5000
    padding 32px 20px


.cartMobileInfoOpen
    display block
.cartMobileInfoButton
    display block
    margin-top -18px
    width 41px
    height 41px
    float right
    margin-right -4px
    cursor pointer
    z-index 9000
    bg()
    @media tablet
        display none

.cartSidebar

    background-color #CCE4FF
    padding 45px 30px
    display none
    sf()
    @media tablet
        display block
.cartSidebarHeader
    display block
    ff(bold,2.4,2.8)
    sf()
    margin-bottom 20px

.cartSidebarText
    display block
    ff(light_f,1.6,2.0)
    sf()
    margin-bottom 20px


.cartSidebarItem
    display block
    margin-bottom 15px
    sf()
.cartSidebarItemNumber
    display table-cell
    vertical-align top
    ff(bold,4.2)
    width 40px
.cartSidebarItemText
    display table-cell
    vertical-align top
    padding-top 8px
    ff(light_f,1.6,2.0)
    b
        ff(bold,1.6)
    a
        ff(bold,1.6)
        color black
    input
        margin-top 10px
    button
        margin-top 10px
        width auto