.productImage
    display block
    position relative
    margin-bottom 20px
    sf()
.productImageBasicTriangle
    display block
    position absolute
    right 0
    border-style solid
    border-width 0 70px 70px 0
    border-color transparent greens transparent transparent

.productImageGreenTriangle
    @extend .productImageBasicTriangle
    border-color transparent greens transparent transparent

.productImageRedTriangle
    @extend .productImageBasicTriangle
    border-color transparent reds transparent transparent

.productImageTriangleText
    display block
    position absolute
    text-align center
    transform rotate(45deg)
    top 12px
    right -5px
    ff(bold,2.7,2.7)
    color whites

.productImageImage
    border 1px solid borderGreys
    background-color #fff
    sf()
    img
        width 100%