.input
    display inline-block
    ff(normal,1.6)
    height 40px
    border 1px solid borderGreys
    outline none
    padding 0 10px
    -webkit-appearance none
    border-radius 0
.inputGreyBorder
    @extend .input
    ff(normal,2.0)
    width 100%
    border 2px solid  #bfbfbf
.inputBlueBorder
    @extend .input
    ff(normal,2.0)
    width 100%
    border 2px solid  #8faccc
